[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qless-py = { path = ".", editable = true }
decorator = "==5.*"
gevent = "==26.*"
greenlet = "==3.*"
hiredis = "==2.*"
logstash-formatter = "==0.*"
psutil = "==5.*"
redis = "==4.*"
setproctitle = "==1.*"
simplejson = "==3.*"

[dev-packages]
coverage = "==7.*"

[requires]
python_version = "3"
