[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qless-py = { path = ".", editable = true }
decorator = "==5.*"
gevent = "==26.*"
greenlet = "==3.*"
hiredis = "==3.*"
logstash-formatter = "==0.*"
psutil = "==7.*"
redis = "==8.*"
setproctitle = "==1.*"
simplejson = "==4.*"

[dev-packages]
coverage = "==7.*"
testcontainers = { version = "==4.*", extras = ["redis"] }

[requires]
python_version = "3"
